{% extends "layout.html.twig" %}

{% block style %}
	{{parent()}}
	<link href="{{ asset('assets/css/animal-details.css') }}" rel="stylesheet"/>
{% endblock %}

{% set favorite = false %}  

{% block content %}
	<section id="title">
		<div class="container">
			<div class="row">
				<div class="col-2">
					<a href="{{path('agria_map')}}"><img src="{{asset('assets/images/animal/animal-details/gorille/arrow.png')}}" alt="" class="img-fluid"></a>
				</div>
				<div class="col-8 text-center">
					<h1>Le Gorille</h1>
				</div>
				<div class="col-2 align-self-center d-flex justify-content-center">
					{% if app.user %}
						{% for favanimal in app.user.favoriteanimaluser %}
							{% if favanimal.id == 13 %}
								{% set favorite = true %}
							{% endif %}
						{% endfor %}
						{% if favorite == true %}
							<i class="fas fa-heart heart-recto" data-animal="13"></i>
							{% set favorite = false %}
						{% else %}
							<i class="far fa-heart heart-recto" data-animal="13"></i>
						{% endif %}
					{% endif %}
				</div>
			</div>
		</div>
	</section>

	<section id="history">
		<div class="container">
			<div id="history-fill">
				<div class="row">
					<div id="history-content" class=" col-sm-12 col-md-6">
						<h2>Bref résumé</h2>
						<p>Les Gorilles sont des primates qui appartiennent à la famille des Hominidés (comme nous, les humains).
							<br>
							<br>

							Ce sont les plus grands des hominoïdes. Les mâles, en particulier, peuvent développer une force physique colossale.
							                                
							                            Ils vivent en groupes dans les forêts tropicales ou subtropicales, où ils se nourrissent de végétaux et parfois d’insectes. Leur présence couvre un faible pourcentage de l’Afrique et ce sont des espèces menacées de disparition. On les trouve à des altitudes très variées. Les gorilles des montagnes vivent dans les forêts de nuages des montagnes des Virunga, d’une altitude allant de 2 200 à 4 300 mètres. Les gorilles des plaines de l’Ouest vivent quant à eux dans les forêts denses et les marécages des plaines.</p>
					</div>
					<div class="animal-content col-md-6">
						<img class="img-fluid" src="{{asset('assets/images/animal/animal-details/gorille/gorilla_top.png')}}" alt="Un peu d'histoire">
					</div>
				</div>
			</div>

			<div class="icon-section col-5 offset-md-4">
				<div class="row">
					<div class="icon-item col-md-4 align-items-center">
						<img src="{{asset('assets/images/animal/animal-details/gorille/pexels-chris-carter-913652.png')}}" alt="Gorilla Beringei">
						<p>Gorilla Gorilla</p>
					</div>
					<div class="icon-item col-md-4 align-items-center">
						<img src="{{asset('assets/images/animal/animal-details/gorille/joshua-j-cotten-0eSD7rA4E8o-unsplash.png')}}" alt="">
						<p>Gorilla Beringei</p>
					</div>
					<div class="icon-item col-md-4 align-items-center">
						<img src="{{asset('assets/images/animal/animal-details/gorille/joshua-j-cotten-0eSD7rA4E8o-2.png')}}" alt="">
						<p>Gorilla Beringei</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="habitat">
		<div class="container">
			<div id="habitat-fill">
				<div class="row">
					<div class="animal-content col-md-6"><img class="img-fluid" src="{{asset('assets/images/animal/animal-details/gorille/gorilla_middle.png')}}" alt=""></div>
					<div id="habitat-content" class="col-md-6">
						<h2>Leur habitat</h2>
						<p>Leur aire de répartition se partage sur deux massifs forestiers, géographiquement distants de quelque mille kilomètres. L’un est situé à l’est de l’Afrique Centrale, l’autre à l’ouest de celle-ci.
							<br>
							<br>

							Le bloc forestier ouest-africain abrite la sous-espèce la plus abondante (Gorilla gorilla gorilla ou waren). Sa population est estimée entre 40 000 et 80 000 individus, répartis entre le Cameroun, la Guinée Équatoriale, le Gabon, le Congo-Brazzaville et la République Centrafricaine. Une population relique (Gorilla gorilla diehli) de quelque 250 individus subsiste dans la partie sud du Nigeria à la frontière avec le Cameroun.
							<br>
							<br>

							Le bloc est-africain abrite les deux autres sous-espèces. Les quelque 12 000 gorilles des plaines orientales (Gorilla beringei graueri) se répartissent en plusieurs populations isolées à l’est de l’actuelle République Démocratique du Congo, dans des habitats variables allant des plaines aux forêts de haute altitude (jusqu’à 3 300 mètres).</p>
					</div>
				</div>
			</div>
			<div class="icon-section col-5 offset-md-4">
				<div class="row">
					<div class="icon-item col-md-4 align-items-center">
						<img src="{{asset('assets/images/animal/animal-details/gorille/boudhayan-bardhan-60tataLkJ0U-unsplash.png')}}" alt="">
						<p>Montagne Luxuriante</p>
					</div>
					<div class="icon-item col-md-4 align-items-center">
						<img src="{{asset('assets/images/animal/animal-details/gorille/danger.png')}}" alt="">
						<p>Espèce en danger</p>
					</div>
					<div class="icon-item col-md-4 align-items-center">
						<img src="{{asset('assets/images/animal/animal-details/gorille/africa.png')}}" alt="">
						<p>Continent Africain</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="food">
		<div class="container">
			<div id="food-fill">
				<div class="row">
					<div id="food-content" class="col-md-6">
						<h2>Leur nourriture</h2>
						<p>Les gorilles se nourrissent principalement de végétaux : essentiellement de fruits, de pousses, de tiges et de feuilles, mais parfois aussi d’insectes (termites et autres). Grâce à ce régime alimentaire et leurs nombreux déplacements, les gorilles participent à la régénération des forêts. En ingérant une grande quantité de graines et en les rejetant dans les trouées forestières, les gorilles permettent aux plantes de se développer.
							<br>
							<br>

							Les gorilles, comme les chimpanzés, consomment des feuilles épineuses, riches en tanin, pour se débarrasser des parasites intestinaux qui les gênent. Ils en avalent une quantité assez grande sans les mâcher ; si bien qu’elles grattent les parois intestinales et en délogent les vers. Ces grands singes pratiquent, à l’instar des humains de la région, la consommation d’argiles pour guérir les gastro-entérites.
						</p>
					</div>
					<div class="animal-content col-md-6"><img class="img-fluid" src="{{asset('assets/images/animal/animal-details/gorille/gorilla_bottom.png')}}" alt=""></div>
				</div>
			</div>
			<div class="icon-section col-5 offset-md-4">
				<div class="row">
					<div class="icon-item col-md-4 align-items-center">

						<img src="{{asset('assets/images/animal/animal-details/gorille/joshua-j-cotten-0eSD7rA4E8o-fruits.png')}}" alt="">
						<p>Fruits</p>
					</div>
					<div class="icon-item col-md-4 align-items-center">
						<img src="{{asset('assets/images/animal/animal-details/gorille/joshua-j-cotten-0eSD7rA4E8o-leaves.png')}}" alt="">
						<p>Feuilles</p>
					</div>
					<div class="icon-item col-md-4 align-items-center">
						<img src="{{asset('assets/images/animal/animal-details/gorille/stephen-broome-ROAIOFi9JSs-unsplash.png')}}" alt="Insectes">
						<p>Insectes</p>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block script %}
	{{parent()}}
	<script src="{{asset('assets/js/details.js')}}"></script>
{% endblock %}
